extends base.pug

block script

block style 
    style   
      
      include ../static/mobstyle.css

block content 
    form.form
        h1.form-title About Our Acamdemy 
        div.card-content
                        p This is the best dance academy of the universe Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo commodi ex sapiente vel corrupti expedita, fugiat placeat, doloribus facere consectetur minima dolorem! Tempore aliquid accusamus nobis impedit architecto, consequuntur dignissimos.