@media (min-device-width: 300px) and (max-device-width: 481px) and (orientation:portrait) {

    #navbar {
        background-color: #ff2e2e;
        padding: 40px 14px;
        font-family: 'Yeon Sung';
    }
    #navbar ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }
    
    #logo {
        display: flex;
        color: white;
        align-items: center;
        margin: 0 14px;
        font-size: 40px;
        margin-right: 40px;
    }
    #navbar li a {
        color: white;
        font-size: 42px;
        text-decoration: none;
        padding: 13px 10px;
    }

    .card {
        display: block;
        border: 2px solid black;
        border-radius: 10px;
        width: 95%;
        margin: 25px 26px;
        height: 387px;
    }

 
    #missionSection h2 {
        font-size: 46px;
    }

    .card h3 {
        font-size: 30px;
        text-align: center;
        margin: 0 12px;
        margin-top: 24px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .card-content {
        padding: 0 30px;
    }

    .card-content p {
        font-size: 40px;
    }

    .card-img {
        height: 277px;
        width: 277;
        padding: 0 14px;
        margin: 5px 9px;
    }

    .card-img img {
        height: inherit;
        width: 361px;
    }


    #sponsorsSection {
        display: block;
        width: 100%;
        position: absolute;
        top: 120rem;

    }


    #footer {
        background-color: rgb(53, 53, 53);
        height: 70px;
        color: white;
        text-align: center;
        padding-top: 30px;
        /* margin-top: 73vh; */
        position: absolute;
        width: 100%;
        top: 138rem;
    }


    .form-title {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline;
        padding: 25px;
        font-size: 45px;
    }

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #c0fbe8;
        border: 5px solid rgb(175, 175, 175);
        height: 130rem;
        justify-content: flex-start;
    }



    .inp-lab {
        display: inline-block;
        width: 265px;
        color: black;
        font-weight: bold;
        font-size: 35px;
    }

    .form-control {
        margin: 10px;
        padding: 5px;
        border: 1px solid rgb(188, 188, 188);
        border-radius: 5px;
        text-align: center;
        width: 495px;
        font-size: 30px;
    }


    .subbtn {
        display: block;
        margin-top: 20px;
        border: 2px solid #838383;
        width: 835px;
        cursor: pointer;

        margin: 10px;
        padding: 5px;
        border: 1px solid rgb(188, 188, 188);
        border-radius: 5px;
        text-align: center;
     
        font-size: 32px;
    }

}